[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pytest-selenium = "*"
pytest-xdist = "*"
python-dotenv = "*"
allure-pytest = "*"
[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
